{% extends 'base.html' %}

{% block title %} Profile {% endblock %}
{% block add_blogs_active %} active {% endblock add_blogs_active %}

{% block css %}
.gradient-custom {
background: rgb(6,0,9);
background: linear-gradient(360deg, rgba(6,0,9,1) 15%, rgba(102,8,105,1) 53%, rgba(255,255,255,1) 100%);
{% endblock %}
{% block body %}
<section class="gradient-custom vh-100">
    <div class="container-fluid pt-4 ">
        <form action="/add_blogs/" enctype="multipart/form-data" method="POST"> {% csrf_token %}
            <div class="container mt-4 align-items-center">
                {{ form.as_p }}
                <button class="btn btn-primary">Add Blog</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert('Your Blog is added successfully.');
    document.location = '/home';
    {% endif %}
</script>
{% endblock %}